/* .details {
    width: calc(100%/2);
    padding: 5px;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 400px;
    margin-left: 400px;

} */

a {
  text-decoration: none;
  color: black;
}

.close-btn {
  right: 100px; 
  font-size: larger;
}

.container{ 
  display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  
    .mid_container{
    width: 100vh;
    margin-left: 60px;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    }

.details-prod {
    width: 100%;
}

.box {
  width: calc(100% - 10%);
  height: 50px;
  background-color: var(--gray);
  border: 3px solid var(--black);
  padding: 15px;
  align-self: center;
}

h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;



  width: 30%;
  background: var(--black);
  color: var(--white);
  height: 50px;
  margin-top: 20px;
  border: none;
  border-radius: 0 !important;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.identifiers {
  margin-top: 10px;
  margin-bottom: 10px;
}

.identifiers1 {
  margin-top: 10px;
}

.picture {
  color: var(--dark-blue)
}

.button:hover {
  background: var(--orange);
  color: var(--black);
}

input[type="file"] {
  display: flex;
  width: 15rem;
  margin-top: 10px;
}

.upload-btn::-webkit-file-upload-button {
  color: var(--white);
  background: var(--dark-blue);
  padding: 5px 5px;
  border: none;
  border-radius: 10px!important;
  cursor: pointer;
}

/* responsiveness */
@media only screen and (max-width:768px) {

  .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .mid_container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
  }

  

}

/* Media Query for Mobile Devices */
@media (max-width: 375px) {
  button {
      font-size: 16px;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
/* @media (min-width: 481px) and (max-width: 767px) {

} */

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {}

/* Media Query for Large screens */
@media (min-width: 1281px) {}
