.content {
  max-width: 500px;
  margin: auto;
  padding: 5px;
}
.details {
    width: calc(100%/2);
    padding: 5px;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 400px;
    margin-left: 400px;

}

.details-prod {
    width: 100%;
}

.box {
  width: calc(100% - 10%);
  height: 50px;
  background-color: var(--gray);
  border: 3px solid var(--black);
  padding: 15px;
  align-self: center;
}
h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;



  width: 30%;
  background: var(--black);
  color: var(--white);
  height: 50px;
  margin-top: 20px;
  border: none;
  border-radius: 0 !important;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background: var(--orange);
  color: var(--black);
}
