/* The css that will contain in  all  pages */
:root {
    --bg: #FFEFD1;
    --wheat: #FEF5E4;
    --dark-blue: #003077;
    --orange: #FFA72A;
    --black: #000;
    --white: #FFF;
    --pastel-orange: #FFD892;
    --pastel-blue: #D6E6FE;
    --gray:#F3F3F3;
}

/* RESET STYLES */
* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: var(--black);
}

body {
    background: var(--bg);

    /* REMOVES OVERLAP FROM NAVBAR AND FOOTER */
    padding-top: 80px; /* for top navbar */
    padding-bottom: 80px; /* for footer */
}

/* MEDIUM DEVICES*/
@media (max-width: 768px) {

}

/* LARGE DEVICES */
@media (max-width: 1024px) {
    
}