
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 30%;
}

.mid {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    /* transition: 0.3s; */
    margin-top: 50px;

    width: 100%;
    border: solid;
    color: black;
    background-color: var(--white);

    padding: 5vh;
}

.mid:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.welcome{
    text-align: center;
}
.input{
    border: solid;
    color: black;
    background-color: var(--gray);

    width: 100%;
    height: 37px;

    padding: 5px;

    margin-top: 10px;
}
button {
    min-width: 45%;
    background: #000;
    color: #EEEEEE;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-radius: 0 !important;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
  }
@media only screen and (max-width:768px) {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}